title slang explorer
meta(charset="utf-8")
meta(name="description" content="slang explorer - allows experimenting with the slang compiler toolchain")
meta(name="author" content="Mike Popoloski")
meta(name="google" content="nositelinkssearchbox")
meta(name="google" content="notranslate")
script(src="bundle.js")