doctype html
html(lang="en")
  head
    include head.pug

  body
    .navbar
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#' title='slang explorer') slang explorer

    #root

    .gl_keep.template
      #codeEditor
        .top-bar.btn-toolbar(role="toolbar")
        .monaco-placeholder

      #compiler
        pre.content