doctype html
html(lang="en")
  head
    include head.pug

  body
    .navbar
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#' title='slang explorer') slang explorer

    #root

    .gl_keep.template
      #codeEditor
        .top-bar.btn-toolbar(role="toolbar")
        .monaco-placeholder

      #compiler
        .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
          input.options.form-control(type="text" placeholder="Compiler options..." size="128" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
        pre.content

    script(src="bundle.js")
