doctype html
html(lang="en")
  head
    include head.pug
    link(rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='75' font-size='75' fill='%23007bff'>S</text></svg>")

  body
    .navbar
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#' title='slang explorer') slang explorer
        .navbar-nav.navbar-right
          button#shareBtn.btn.btn-sm.btn-primary(title="Copy shareable link to clipboard") Share

    #root

    .gl_keep.template
      #codeEditor
        .top-bar.btn-toolbar(role="toolbar")
          .monaco-placeholder

      #compiler
        .top-bar.btn-toolbar.options-toolbar.bg-light(role="toolbar")
          input.options.form-control(type="text" placeholder="Compiler options..." size="128" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
        pre.content

    script(src="bundle.js")
